
body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    background: rgba(235, 235, 231, 0.596);
}


.indice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #0081c9;
    color: white;
}
header h5,
header p {
    margin: 2px 0; 
    line-height: 1.2; 
}


.contenedor {
    display: flex;
    box-sizing: border-box;
    padding: 10px 20px;
    gap: 20px;
}


.menulateral {
    width: 20%;
    height: 100%;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.menulateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menulateral li {
    margin-bottom: 15px;
}

.menulateral a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: background 0.3s;
}

.menulateral a:hover {
    background: #e6f0ff;
}

.menulateral button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background: #ff4d4d;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.menulateral button:hover {
    background: #cc0000;
}


.Contenido {
    width: 75%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.Contenido h2 {
    text-align: center;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
}

th, td {
    border: 1px solid #dddddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #fafafa;
}

button {
    background-color: #0081c9;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005f99;
}



